body{
    font-family: Arial,sans-serif;
    background-color: aliceblue;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
}
input{
    padding: 5px;
}
button{
    padding: 5px 10px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
}
button:hover{
    background-color: darkgreen;
    
}