body{
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    width: 360px;
    background:#ffffff;
            width:350px;
            padding:30px;
            border-radius: 50px;
            background: #e0e0e0;
            box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
            box-shadow:0 4px 12px rgba(0,0,0,0.12);
            text-align:center;
}

h1{
    text-align: center;
    color: #222;
    margin-bottom: 20px;
}

/* input */
input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}


input:focus{
    border-color: #555555;
}

/* ปุ่ม Add */
button{
    width: 100%;
    padding: 10px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

button:hover{
    background-color: #00d9ff;
}

/* list */
ul{
    list-style: none;
    padding: 15px 0 0;
    margin: 0;
}

ul li{
    background-color: #fafafa;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
}


ul li.completed{
    text-decoration: line-through;
    color: #999999;
    background-color: #f0f0f0;
}


.actions a{
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 13px;
    text-decoration: none;
    margin-left: 5px;
}

/* ปุ่ม Complete */
.actions a:first-child{
    background-color: #00a2ff;
    color: #ffffff;
}

/* ปุ่ม Delete */
.actions a:last-child{
    background-color: #000000;
    color: #fff;
}

.actions a:hover{
    opacity: 0.85;
}
body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-card{
    background:#fff;
    width:350px;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    text-align:center;
    background:#ffffff;
            width:320px;
            padding:30px;
            border-radius: 50px;
            background: #e0e0e0;
            box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
            box-shadow:0 4px 12px rgba(0,0,0,0.12);
            text-align:center;
}

.profile-card img{
    width:130px;
    height:130px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
    border:3px solid #ccc;
}

.profile-card h1{
    margin:10px 0 5px;
    color:#333333;
}

.profile-card h3{
    margin:0 0 15px;
    color:#777;
    font-size:14px;
}

.profile-card p{
    font-size:14px;
    color:#555;
    line-height:1.6;
}

.social{
    margin-top:20px;
}

.social a{
    display:inline-block;
    margin:5px;
    padding:8px 14px;
    text-decoration:none;
    color:#fff;
    background:#0091ff;
    border-radius:5px;
    font-size:13px;
}

.social a:hover{
    background:#000;
}
